.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* pulse in SVG */
svg.pulse-svg{
	overflow: visible;
	.first-circle{
		fill: #f00;
		transform: scale(0.5);
		transform-origin: center center;
		animation: pulse-me 3s linear infinite;
	}
	.second-circle{
		@extend .first-circle;
		animation-delay: 1s;
	}
	.third-circle{
		@extend .first-circle;
		animation-delay: 2s;
	}
}

/* pulse in CSS */
.pulse-css{
	@include circle(50px);
	background: tomato;
	position: relative;
	&:before,
	&:after{
		content: '';
		@include circle(50px);
		background-color: tomato;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		transform: scale(0.5);
		transform-origin: center center;
		animation: pulse-me 3s linear infinite;
	}
	&:after{
		animation-delay: 2s;
	}
}

@keyframes pulse-me{
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	50%{
		opacity: 0.1;
	}
	70%{
		opacity: 0.09;
	}
	100%{
		transform: scale(5);
		opacity: 0;
	}
}

html, body, #root, .App, .map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#App {
  position: absolute;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
  transform-style:preserve-3d;
  transform:perspective(auto) translateZ(-30vw) scale(1.4);
  perspective:1000;
}
